.idea

node_modules

#explicitly include node_modules -> best practice?
!01-FirstHandsOn/02-SimplisticToDo-refactored/node_modules

01-FirstHandsOn/03-Modularization/dist
01-FirstHandsOn/02-SimplisticToDo-refactored/dist

04-Toolchain/jquery-app/build
libpeerconnection.log
04-Toolchain/tools-grunt-app/build
04-Toolchain/tools-grunt-app/nbproject/private/private.properties
04-Toolchain/tools-grunt-app/nbproject/private/private.xml

05-Architecture/baas/target
05-Architecture/jquery-rest/nbproject/private/