.idea
node_modules
target

01-FirstHandsOn/02-SimplisticToDo-refactored/dist
02-Language/02-Modularization/dist

04-Toolchain/jquery-app/build
libpeerconnection.log
04-Toolchain/tools-grunt-app/build
04-Toolchain/tools-grunt-app/nbproject/private/private.properties
04-Toolchain/tools-grunt-app/nbproject/private/private.xml

05-Architecture/baas/target
05-Architecture/jquery-rest/nbproject/private/
/05-Architecture/baas-gf/nbproject/private/
/05-Architecture/baas-gf/build/